<!-- 
    Pagina destinada a alteração de Funcionarios;
-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">   
    </head>
<body>
    <!--Inicio do nosso formulario -->
    <h1>Consultar Produto</h1>
    <form action="../Controllers/AlterarProduto.php" method="POST">
        ID: <input type="text" placeholder="Somente Numeros" name="prid">
        <br><br>
        <input type="hidden" name="acao" value="inserir"/>
        <input type="submit" value="Consultar" name="cadastrar"/>
    </form>

</body>

</html>