<!-- 
    Pagina destinada a cunsulta de clientes;
-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">   
    </head>
<body>
    <!--Inicio do nosso formulario -->
    <h1>Consultar Clientes</h1>
    <form action="../Controllers/ConsultarCliente.php" method="POST">
        CPF: <input type="text" placeholder="Somente Numeros" name="clicpf">
        <br><br>
        <input type="hidden" name="acao" value="inserir"/>
        <input type="submit" value="Consultar" name="cadastrar"/>
    </form>

</body>

</html>