<!-- 
    Pagina destinada a exclusão de produtos;
-->
<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">   
    </head>
<body>
    <!--Inicio do nosso formulario -->
    <h1>Excluir Produto Por ID</h1>
    <form action="../Controllers/DeletarProduto.php" method="POST">
        ID: <input type="text" placeholder="Somente Numeros" name="prid">
        <br><br>
        <input type="hidden" name="acao" value="deletar"/>
        <input type="submit" value="Buscar" name="cadastrar"/>
    </form>

</body>

</html>